* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #c68150;
  background: url(img/cofee21.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

header {
  position: fixed;
  background-color: #1e1d1d00;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1px;
  padding: 20px;
}

header .navbar {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: chocolate;
}

.navbar a strong {
  color: chocolate;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links li a:hover {
  color: chocolate;
}

@media screen and (max-width: 900px) {
  .navbar .menu-links {
    max-width: 300px;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li {
    color: #000;
    font-size: 1.1rem;
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 30px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 15%;
  margin-left: 10%;
  opacity: 100;
  transition: opacity 4s ease-in;
  animation: contactBox 12s;
}

@keyframes contactBox {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 25;
  }

  50% {
    opacity: 50;
  }

  75% {
    opacity: 75;
  }

  100% {
    opacity: 100;
  }
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #844314;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #844314;
}

.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #844314;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-side .button input[type="button"]:hover {
  background-color: #3a1d09;
}

@media (max-width: 820px) {
  .container {
    margin-top: 25%;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }

  .container .content {
    flex-direction: column-reverse;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* Footer Styling */
.footer {
  color: #000;
  top: 50%;
  left: 50%;
  max-width: 1280px;
  width: 95%;
  border-radius: 6px;
  margin-left: 10%;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-top: 10px;
}

.footer .footer-col .links a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.footer .footer-col .links a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #000;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  padding-left: 10px;
  color: #fff;
}

.footer-col input ::placeholder {
  color: #000;
}

.footer-col form button {
  background-color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2 ease;
}

.footer-col form button:hover {
  background-color: #844314;
}

@media (max-width: 768px) {
  .footer {
    margin-left: 0%;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
